.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.head{
    display: flex;
    flex-direction: column;
    height: 100px;
    background: #1891ff;
}
.head h1{
    color: #fff;
}
.head h3{
    color: #fff;
}
.content{
    display: flex;
    flex-direction: column;
    height: 100%;
}