<div class="main">
    <div class="head">
        <h1>{{storeName}}</h1>
        <h3><span>Address: </span>{{address}}</h3>
        <h3><span>Contact: </span>{{phone}}</h3>
    </div>
    <div class="content">
        <nz-list nzItemLayout="horizontal">
            <nz-list-item *ngFor="let item of productList">
                <nz-list-item-meta
                nzAvatar="http://springbootsupeasy-env.eba-wk98fipi.us-east-1.elasticbeanstalk.com/api/image/files/"{{item.imageUrl}}
                nzDescription={{item.name}}
                >
              
                    <nz-list-item-meta-title>
                    {{ item.price }} <span>CAD</span>
                    </nz-list-item-meta-title>
                </nz-list-item-meta>
              
                <nz-list-item-meta-description>
                    <p>{{item.description}}</p>
                </nz-list-item-meta-description>
            </nz-list-item>
            <nz-list-empty *ngIf="data.length === 0"></nz-list-empty>
          </nz-list>
    </div>
</div>