<button nz-button  [nzType]="'primary'" (click)="toCreateProductPage()">Create Product</button>
<nz-table #basicTable [nzData]="products">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td><img class="img"
          src="http://springbootsupeasy-env.eba-wk98fipi.us-east-1.elasticbeanstalk.com/api/image/files/"{{data.imageUrl}}
        /></td>
        <td>{{data.name}}</td>
        <td>{{data.price}}</td>
        <td>{{data.description}}</td>

      </tr>
    </tbody>
  </nz-table>